<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Music Downloader</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

    <!-- Navbar -->
    <header>
        <div class="logo">🎧 MyMusic</div>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </nav>
    </header>
    <section class="about">
        <div class="about-container">
            <h1>About This Project</h1>
            <p>
                Music Downloader is a simple web app that lets you search, play, and download your favorite songs with
                ease.
                It uses the Saavn API for fetching high-quality audio and album details. Built using Flask and styled
                with
                modern CSS, it aims to give users a smooth and enjoyable experience.
            </p>
            <p>
                This project is made for learning and fun — to explore how Python (Flask) and frontend design can come
                together
                to build beautiful, functional apps.
            </p>
            <button class="btn">Explore Music</button>
        </div>
    </section>

    <footer>
        <p>© 2025 Music Downloader | Created by Ravi Pal 🎵</p>
    </footer>

</body>

</html>