<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
     <!-- Navbar -->
    <header>
        <div class="logo">🎧 MyMusic</div>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                
            </ul>
        </nav>
    </header>
    
    <h1>Music Downloader </h1>
    
    <form action="" style="text-align: center;" method="post">
        <input type="search"
        name="song-search" id="searchbar" placeholder="Search Song">
 
        <button type="submit">Search </button>
    </form>
 
    {% for song in songs %}
 
    <div id="main_songs">
        <img src="{{ song['image'][1]['url']}}" alt="">
        <div>
            <span>{{ song['name'] }}</span>
            <span>BY {{ song ['artists']['primary'][0]['name']}}</span>
            <span>{{ song['duration']}} Seconds</span>
            <audio src="{{song['downloadUrl'][-1]['url']}}"controls></audio>
        </div>
    <div>
        <button>Download</button>
    </div>
    </div>
    
    {% endfor %}
 
</body>
</html>